# log
rich
pyyaml
# rpy2==3.3.0
docker==7.1.0
tqdm==4.67.1
igraph==0.11.8
networkx==3.4.2
scikit-learn==1.6.0
scanpy==1.10.4
scvelo==0.3.3
plotly==6.0.1
# # notebook
# jupyter
# dev tools
pre-commit
pytest
pytest-xdist